# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Env
# ===============================
venv/
.env
.env.*

# ===============================
# Database (LOCAL ONLY)
# ===============================
sqlite_db.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ===============================
# Build / Cache
# ===============================
.cache/